<a href="https://colab.research.google.com/github/arjunrajeevan/arjun/blob/main/Case_Study_on_hypothesis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

A company started to invest in digital marketing as a new way of their product
promotions. For that they collected data and decided to carry out a study on it.

● The company wishes to clarify whether there is any increase in sales after
stepping into digital marketing.

● The company needs to check whether there is any dependency between
the features “Region” and “Manager”.
Help the company to carry out their study with the help of data provided.

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df=pd.read_csv('/content/Sales_add.csv')

In [ ]:
df.head()

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402

In [ ]:
df.shape

(22, 5)

To clarify whether there is any increase in sales after
stepping into digital marketing we perform Two Sample T-Test

Null Hypothesis : There is no significant increase in sales after stepping into digital marketing.

Alternate Hypothesis : There is significant increase in sales after stepping into digital marketing.

In [ ]:
from scipy.stats import ttest_ind

In [ ]:
t_stat,p_val=ttest_ind(df['Sales_before_digital_add(in $)'],df['Sales_After_digital_add(in $)'])

In [ ]:
p_val

2.614368006904645e-16

Let's take level of significance,alpha as 0.05.

In [ ]:
if p_val<0.05:
  print('Reject null hypothesis')
else:
  print('accept null hypothesis ')

Reject null hypothesis

To check whether there is any dependency between
the features “Region” and “Manager” we use Chi Square test.

Null Hypothesis : The features “Region” and “Manager” are independent.

Alternate Hypothesis : The features “Region” and “Manager” are depended on each other.

In [ ]:
from scipy.stats import chi2_contingency

In [ ]:
contingency_table=pd.crosstab(df['Region'],df['Manager'])

In [ ]:
chi2_stat,pvalue1,dof,exp=chi2_contingency(contingency_table)

In [ ]:
pvalue1

0.5493991051158094

Let's take level of significance,alpha as 0.05.

In [ ]:
if pvalue1<0.05:
  print('Reject null hypothesis')
else:
  print('accept null hypothesis ')

accept null hypothesis